<!DOCTYPE html>
<html>
 <head>
  <title>MCssVue</title>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: content:">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="resources/vendor/materialize/css/materialize.css" rel="stylesheet" type="text/css"/>  
  <script src="resources/vendor/jquery/jquery.min.js" type="text/javascript"></script>
  <script src="resources/vendor/materialize/js/materialize.min.js" type="text/javascript"></script>

  <link href="resources/vendor/leaflet/leaflet.css" rel="stylesheet" type="text/css"/>
  <script src="resources/vendor/leaflet/leaflet.js" type="text/javascript"></script>

  <script src="resources/vendor/vue/vue.min.js" type="text/javascript"></script>
  <script src="resources/components/MCssVue.js" type="text/javascript"></script>

  <link href="resources/css/style.css" rel="stylesheet" type="text/css"/>
  <link href="resources/css/custommcss.css" rel="stylesheet" type="text/css"/>
  <script src="resources/js/custommcss.js" type="text/javascript"></script>
  <script src="resources/js/MCSSUtil.js" type="text/javascript"></script>

 </head>
 <body class="">
  <div id="appMain">

   <header>
    <md-nav id="navegacao" 
            showmenuicononlarge
            iconemenuleft="menu"
            iconemenuright="help"
            ref='navegacao' destdiv="conteudo" fixed classe='green darken-3'>
     <template v-slot:tpl-logonav>
      <!--a href="home.html">sisadin</a-->
      <a v-on:click="window.location='index.html'">sisadin</a>

     </template>
     <template slot="tpl-topnav">
      <md-nav-item href="home.html" v-on:click.native.prevent="navega(this)"><md-icon icon="home" class="left"></md-icon>Início</md-nav-item>
      <md-nav-menu id="menu1">
       <template slot="menu">Testes</template>
       <template slot="items">
        <md-nav-item href="mapa.html" >Mapa</md-nav-item>
        <md-nav-item href="table.html">Table</md-nav-item>
       </template>
      </md-nav-menu>
     </template>
     <template v-slot:tpl-sidenav-left>
      <md-side-userview class="green darken-3" v-on:click.native="$refs.navegacao.fechaSideNav();" imgsrc="resources/img/icon.png"></md-side-userview>
      <md-side-item href="home.html">Início</md-side-item>
      <md-side-item href="cards.html"><md-icon icon="assignment_ind" class="left"></md-icon>Cards</md-side-item>
      <md-side-item href="mapa.html"><md-icon icon="map" class="left"></md-icon>Mapa</md-side-item>
      <md-side-menu >
       <template slot="header">Testes</template>
       <template slot="items">
        <md-side-item href="table.html"><md-icon icon="border_all" class="left"></md-icon>Table</md-side-item>
        <md-side-item href="tabs.html"><md-icon icon="calendar_today" class="left"></md-icon>Tabs</md-side-item>
       </template>
      </md-side-menu>
     </template>

     <template v-slot:tpl-sidenav-right>
      <md-side-item>erer</md-side-item>
      <md-side-menu >
       <template slot="header">teste</template>
       <template slot="items">
        <md-side-item><md-icon icon="face" class="left"></md-icon>erer</md-side-item>
        <md-side-item>erer</md-side-item>
       </template>
      </md-side-menu>
     </template>
    </md-nav>
   </header>


   <main>
    <div id="conteudo" class="container">
     <md-button tooltiptext='123' tooltipposition='left' icon='face' tipo='danger' v-on:click.native="testeModal">teste</md-button>
     <md-collapsible >
      <md-collapsible-item>
       <template v-slot:header><md-icon icon="place"></md-icon>Teste</template>
       <template v-slot:body>
        <md-collection >

         <md-collection-item><md-badge>1</md-badge>Alan</md-collection-item>
         <md-collection-item><md-badge>22</md-badge>Alan<md-secondary-content link="http://www.google.com"><md-icon icon="face"></md-icon></md-secondary-content></md-collection-item>
         <md-collection-item link="#!" v-on:click.native="testeModal"><md-badge>1</md-badge>Alan</md-collection-item>
         <md-collection-item class='avatar'>
          <md-icon icon='folder' class='circle teal darken-3'></md-icon>
          <span class="title">Title</span>
          <p>First Line <br>
           Second Line
          </p>
          <md-secondary-content><md-icon icon='grade'></md-icon></md-secondary-content>
         </md-collection-item>
        </md-collection>
       </template>
      </md-collapsible-item>
     </md-collapsible>
     <md-collection header>
      <md-collection-item header><h4>Nomes</h4></md-collection-item>
      <md-collection-item><md-badge>1</md-badge>Alan</md-collection-item>
      <md-collection-item><md-badge>22</md-badge>Alan<md-secondary-content link="http://www.google.com"><md-icon icon="face"/></md-secondary-content></md-collection-item>
      <md-collection-item link="#!"><md-badge>1</md-badge>Alan</md-collection-item>
      <md-collection-item class='avatar'>
       <md-icon icon='folder' class='circle teal darken-3'></md-icon>
       <span class="title">Title</span>
       <p>First Line <br>
        Second Line
       </p>
       <md-secondary-content><md-icon icon='grade'></md-icon></md-secondary-content>
      </md-collection-item>
     </md-collection>
     <md-icon icon='info'></md-icon>
     <md-carousel class="center" fullwidth indicators autoplay="3000">
      <md-carousel-item fixed>
       <md-button tipo="success" v-on:click.native="alert(123)">Clique aqui</md-button>
      </md-carousel-item>
      <md-carousel-simple-item><img src="https://lorempixel.com/250/250/nature/1"></md-carousel-simple-item>
      <md-carousel-item class="red white-text">
       <h2>Second Panel</h2>
       <p class="white-text">This is your second panel</p>
      </md-carousel-item>
      <md-carousel-item><img src="https://lorempixel.com/250/250/nature/4"></md-carousel-item>
      <md-carousel-item><img src="https://lorempixel.com/250/250/nature/5"></md-carousel-item>
     </md-carousel>     

     <md-button data-target="modalcadastra" class="modal-trigger">TESTE</md-button>

     <div class="row">
      <md-input-text iconprefix="account_circle" id="in01" label="Nome" placeholder="digite o nome aqui" class="col s6" v-model="nome"></md-input-text> 
      <md-input-password id="pass01" label="Nome" class="col s6" v-model="nome"></md-input-password>
     </div>
     <md-input-text v-model="nome1" id="in02" label="Nome" placeholder="digite o nome aqui" v-bind:msgs="['ajuda aqui', 'sucsesso', 'erro']"></md-input-text> 
     <md-input v-model="email1" id="in03" type='email' label="email" placeholder="digite o email aqui" v-bind:msgs="['ajuda aqui', 'sucsesso', 'erro']"></md-input> 
     <md-input v-model="data1" id="in04" type='date' label="date" placeholder="digite a data aqui" 
               v-bind:msgs="['ajuda aqui', 'sucsesso', 'erro']"></md-input> 
     <md-input-number iconprefix="phone" id="in05" step="any" label="number" placeholder="digite um número aqui" 
                      v-bind:msgs="['ajuda aqui', 'sucsesso', 'erro']" v-model="n"></md-input-number> 
     {{n}}
     <br/>
     <md-autocomplete id="autocomp1" iconprefix='textsms' label="Autocomp" v-bind:dados="dadosac" type="text"></md-autocomplete>
     <md-switch textoff="Desliga" texton="liga" v-model="op"></md-switch>
     <br>
     {{op}}
     <br>
     <md-radio text="teste s" name="op1" valueof="s" v-model="t"></md-radio>
     <md-radio text="teste a" name="op1" valueof="a" v-model="t"></md-radio>
     <md-radio text="teste b" name="op1" valueof="b" v-model="t"></md-radio>
     <md-radio text="teste d" name="op1" valueof="d" v-model="t"></md-radio>
     <br>
     {{t}}
     
     <br/>
     
     <md-checkbox v-model="op">teste</md-checkbox>
     <br/>
     <md-checkbox filled v-model="op">teste</md-checkbox>
     
     <br/>
     <br/>
    </div>
   </main>
   <footer class="page-footer green darken-3">

    <div class="footer-copyright">
     <div class="container">
      <a class="white-text text-lighten-3" href="http://materializecss.com">sisadin</a> Todos os direitos reservados
     </div>
    </div>
   </footer>

   <md-modal id="modalcadastra">
    <template v-slot:content>
     <h4>Teste</h4>
     conteudo aqui
    </template>
    <template v-slot:footer>
     <md-button href='#!' class='modal-close' tipo="success">OK</md-button>
    </template>
   </md-modal>

  </div>

  <script>
window.appMain = new Vue({
 el: '#appMain',
 data: {
  op: true,
  t: 'b',
  nome: 'nome....',
  n: 25.4,
  nome1: '',
  email1: '',
  data1: null,
  dadosac: {'Apple': null, 'Microsoft': null, 'Google': 'https://placehold.it/250x250', 'galinha': null}
 },
 mounted: function () {

 },
 methods: {
  navega: function (obj) {
   var a_elem = obj;
   console.log(a_elem);
   /*var li_elem = a_elem.parent();
    $("li.active").removeClass("active");
    li_elem.addClass('active');*/
   return false;
  },
  fecha: function () {
   console.log('fecha aqui');
  },
  testeModal: function () {
   mcssutil.executaConfirma('confirma???', function () {
    mcssutil.exibeAlerta('123');
   });
  }
 }
});
  </script>
 </body>
</html>
