/* 
    Created on : 04/05/2019, 09:21:06
    Author     : romulo
    customizations for the default materializecss style
*/

/*

considering green by base color

default style customization
START

*/

/*modificações para tag a*/
a {
  color: #2e7d32;
}

/* modificações para card */
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #a5d6a7;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: #2e7d32;
}

/* modificações para tabs */
.tabs .tab a {
  color: #2e7d32;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: #e8f5e9;
}
.tabs .tab a:hover, .tabs .tab a.active {
 color: #2e7d32;
}
.tabs .indicator {
 background-color: #2e7d32;
}

/*modificações para prefix*/
.input-field .prefix {
 color: #000;
}
.input-field .prefix.active {
 color: #2e7d32;
}

/*modificações para checkbox*/
[type="checkbox"].filled-in:checked + span:not(.lever):after {
 border: 2px solid #2e7d32;
 background-color: #2e7d32;
}
[type="checkbox"].filled-in.tabbed:checked:focus + span:not(.lever):after {
 background-color: #2e7d32;
 border-color: #2e7d32;
}
[type="checkbox"]:checked + span:not(.lever):before {
 border-right: 2px solid #2e7d32;
 border-bottom: 2px solid #2e7d32;
}
[type="checkbox"]:indeterminate + span:not(.lever):before {
 border-right: 2px solid #2e7d32;
}

/*modificações para collection item */
.secondary-content {
 color: #2e7d32;
}
.collection a.collection-item {
 color: #2e7d32;
}
.collection .collection-item.active {
 background-color: #2e7d32;
 color: #fff;
}


/*modificações para input*/
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
 border-bottom: 1px solid #2e7d32;
 -webkit-box-shadow: 0 1px 0 0 #2e7d32;
 box-shadow: 0 1px 0 0 #2e7d32;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
 color: #2e7d32;
}


/*modificações no datepicker*/
.datepicker-date-display {
 background-color: #2e7d32; /*green darken-3*/
 color: #fff;
}

.datepicker-table td.is-today {
 color: #f00;
 text-decoration: underline;
}

.datepicker-table td.is-selected {
 background-color: #2e7d32;
 color: #fff;
}
.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
 color: #f00;
 padding: 0 1rem;
}

.datepicker-clear {
 color: #f00;
}

/*modificações para dropdown*/
.dropdown-content li > a, .dropdown-content li > span {
 color: #2e7d32;
}

/* modificações para sidenav*/
.sidenav {
 background-color: #eeeeee;
 border-left: none;
 border-right: 1px solid #3e6942;
}
.sidenav.right-aligned {
 background-color: #eeeeee;
 border-left: 1px solid #3e6942;
 border-right: none;
}
.sidenav .collapsible-body > ul:not(.collapsible) > li.active,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
 background-color: #a5d6a7;
}
.sidenav .collapsible-body > ul:not(.collapsible) > li.active > a,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active > a {
 color: #000;
}

/*modificações para switch*/
.switch label input[type=checkbox]:checked + .lever {
 background-color: #2e7d32;
}
.switch label input[type=checkbox]:checked + .lever:after {
 background-color: #a5d6a7;
}


/*modificações para radio*/
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
 border: 2px solid #2e7d32;
}
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
 background-color: #2e7d32;
}

/*

default style customization
END

*/

